@font-face {
    font-family: "Cooper Black";
    src: url(/Cooper_Black.ttf);
}

:root {
    --border: 1px black solid;
    --table-radius: 10px;
    --other-radius: 2.5px;
    --link: #303030;
    --link-hover: #3030a5;
    --link-active: #a53030;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
legend {
    font-family: "Cooper Black";
}

th,
legend {
    font-size: .8rem;
}

code {
    font-family: cursive;
}

th,
td {
    border: var(--border);
    padding: 5px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

thead > tr > th:first-child {
    border-top-left-radius: var(--table-radius);
}

thead > tr > th:last-child {
    border-top-right-radius: var(--table-radius);
}

tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: var(--table-radius);
}

tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: var(--table-radius);
}

input[type="checkbox"] {
    border-radius: var(--other-radius);
}

input[type=number] {
    border-top-right-radius: var(--other-radius);
    border-bottom-right-radius: var(--other-radius);
    padding-right: 0;
}

h1 {
    margin-top: 0;
}

mark {
    background: black;
    color: white;
}

button,
input,
select,
fieldset,
:any-link.button {
    border-radius: var(--table-radius);
    color: black;
    background: white;
    border: var(--border);
    margin-top: 1px;
}

input[type=checkbox],
input[type=radio] {
    appearance: none;
    --square: 10px;
    width: var(--square);
    height: var(--square);
}

input[type=radio] {
    border-radius: 100%;
}

input:checked {
    background: black;
}

button,
input[type=submit],
input[type=reset],
select,
:any-link.button {
    cursor: pointer;
}

:any-link.button {
    text-decoration: none;
    display: inline-block;
    padding: 2px 5px;
    font-family: sans-serif !important;
    font-size: 13px;
}

:any-link:not(.button) {
    color: var(--link);
    font-style: oblique;
}

:any-link:hover:not(.button) {
    color: var(--link-hover);
}

:any-link:hover:active:not(.button),
:any-link:active:not(.button) {
    color: var(--link-active);
}

input.url-copy {
    display: block;
    width: 90vw;
    border-radius: 3px;
    background-color: #efefef;
}

#notice {
    background-color: #efefef;
    color: #111;
    text-align: center;
    position: fixed;
    top: .13in;
    left: 1.5in;
    width: 10in;
    display: block;
    padding: 0;
    font-size: 0;
    height: 0;
    transition: all 750ms;
    font-family: "Cooper Black";
}